@import './_reset.css';

body {
  margin: 0 !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.b-toaster {
  z-index: 3000;
}
